import(amap,desplot,reshape2,plyr
)

export(asreml.batch)
#export(dial.combn)
#export(depack)
#export(corrgram2)
#export(Ginv)
#export(group.plot)
#export(ir2r.sp)
export(met.plot)
export(met.corr)
export(met.biplot)
export(model.comp)
export(pin)
export(spd.plot)
#export(sig.level)
#export(sig.level2)
#export(snp.batch)
