import(amap,agricolae,agridat,corrgram,genetics,GeneticsPed,ggplot2,gplots,grid,MASS,Matrix,MCMCglmm,nadiv,reshape2,sqldf,dplyr)
export(asreml.batch)
export(dial.combn)
export(depack)
export(corrgram2)
export(Ginv)
export(group.plot)
export(ir2r.sp)
export(makeA1)
export(mc.se)
export(mc.ped)
export(met.plot)
export(met.corr)
export(met.biplot)
export(model.comp)
export(panel.bar)
export(panel.conf)
export(panel.density)
export(panel.ellipse)
export(panel.minmax)
export(panel.minmax)
export(panel.pie)
export(panel.pts)
export(panel.shade)
export(panel.txt)
export(pin)
export(spd.plot)
export(sig.level)
export(sig.level2)
export(snp.batch)
